<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MyCenter-Weather Station</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="container-fluid headlines">
    <img src="images/NYT.png" alt="">
    <div class="row">
      <% for(var i = 0; i < headlines.length; i++){ %>

      <div class="col-lg-6 articleDiv">
        <a href="<%=headlines[i].link%>"> <img class="articleImage" src=" <%=headlines[i].image%>" alt="">
          <h3> <%= headlines[i].title %></h3>
        </a>
      </div>

      <% } %>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>
